@keyframes appear {
    from {
        opacity: 0.75;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1.1;
    }
}

.appear {
    animation: appear ease-out 3s forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}